<header class="header@@className">
    <div class="header__wrapper">
        <div class="header__container container-lg">
            <a href="/" class="header__logo">
                @@if(className===' header-transparent'){
                <img src="@img/logo.svg" class="header__logo-static" alt="logo">
                }
                @@if(className===' header-transparent-mobile'){
                <img src="@img/logo.svg" class="header__logo-static" alt="logo">
                }
                <img src="@img/logo-black.svg" class="header__logo-scroll" alt="logo">
                <span class="header__logo-text">Покупка авто из-за рубежа</span>
            </a>
            <div class="header__menu">
                <nav class="header__menu-left">
                    <a href="/catalog.html" class="header__catalog icon-catalog">Каталог</a>
                    <ul class="menu__list">
                        <li class="menu__item menu-parent">
                            <a href="" class="menu__link">Услуги</a>
                            <button aria-label="Открыть подменю" class="menu__arrow icon-chevron"></button>
                            <div class="submenu">
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="/service.html" class="submenu__link">
                                            Подбор авто
                                        </a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="/service.html" class="submenu__link">
                                            Калькулятор авто
                                            под полную пошлину
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu__item menu-parent">
                            <a href="/about.html" class="menu__link">О компании</a>
                            <button aria-label="Открыть подменю" class="menu__arrow icon-chevron"></button>
                            <div class="submenu">
                                <ul class="submenu__list">
                                    <li class="submenu__item">
                                        <a href="" class="submenu__link">
                                            О нас
                                        </a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="/faq.html" class="submenu__link">
                                            Вопрос–ответ
                                        </a>
                                    </li>
                                    <li class="submenu__item">
                                        <a href="/payment.html" class="submenu__link">
                                            Способы оплаты
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <nav class="header__menu-right">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="/magazine.html" class="menu__link">Журнал</a>
                        </li>
                        <li class="menu__item">
                            <a href="/reviews.html" class="menu__link">Отзывы</a>
                        </li>
                        <li class="menu__item">
                            <a href="/contacts.html" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                    <div class="header__contacts">
                        <div class="header__contacts-block">
                            <div class="header__contacts-caption">По любым вопросам:</div>
                            <div class="header__contacts-body">
                                <a href="tel:+74959999999" class="header__contacts-link">+7 495 999 99 99</a>
                                <a href="mailto:info@kings-auto.ru" class="header__contacts-link">info@kings-auto.ru</a>
                                <div class="header__socials">
                                    <a href="" class="header__social icon-telegram"></a>
                                    <a href="" class="header__social icon-wa"></a>
                                    <a href="" class="header__social icon-vk"></a>
                                </div>
                            </div>
                        </div>
                        <div class="header__contacts-block">
                            <div class="header__contacts-caption">Личный кабинет:</div>
                        </div>
                    </div>
                    <div class="header__copy">© 2024 Kings Auto</div>
                </nav>
            </div>
            <a href="tel:+74959999999" class="header__phone icon-phone"><span>+7 495 999 99 99</span></a>
            <div class="header__person">
                @@if (login===false){
                <a href="/login.html" class="header__btn btn icon-login"><span>Вход</span></a>
                }
                @@if (login===true){
                <a href="/lk.html" class="header__btn btn login-btn icon-user-circle">
                    <span class="header__btn-notification"></span>
                </a>
                <ul class="header__person-list">
                    <li class="header__person-item">
                        <a href="" class="header__person-link icon-user">Профиль</a>
                    </li>
                    <li class="header__person-item">
                        <a href="" class="header__person-link icon-delivery">Отслеживание авто</a>
                    </li>
                    <li class="header__person-item">
                        <a href="" class="header__person-link icon-heart">Избранное
                            <span class="header__person-quantity">3</span>
                        </a>
                    </li>
                    <li class="header__person-item">
                        <a href="" class="header__person-link icon-docs">Договор с Kings Auto</a>
                    </li>
                    <li class="header__person-item">
                        <a href="" class="header__person-link icon-login"> Выйти</a>
                    </li>
                </ul>
                }
            </div>
            <button type="button" class="menu__btn icon-catalog">
                <span class="menu__btn-default">Меню</span>
                <span class="menu__btn-active">Закрыть</span>
            </button>
        </div>
    </div>
</header>