.breadcrumbs {
	padding: 3.25rem 0 rem(20);
	@media (min-width: $md2) {
		padding: 3.5rem 0 rem(20);
	}

	// .breadcrumbs__container
	&__container {
	}
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
	}
	// .breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;
		font-size: rem(14);
		&:not(:first-child) {
			&::before {
				content: "/";
				margin: 0 rem(10);
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (any-hover: hover) {
			&:hover {
				color: rgba(43, 50, 57, 0.5);
			}
		}
		&.active {
			pointer-events: none;
			color: rgba(43, 50, 57, 0.5);
		}
	}
}
