.promo {
	background: linear-gradient(0deg, rgba(16, 22, 28, 0) 50%, #10161c 100%), linear-gradient(180deg, rgba(16, 22, 28, 0) 43.31%, #10161c 100%),
		url("@img/main.jpg") 0 0 / cover no-repeat, #2b3239;
	color: #fff;
	display: flex;
	align-items: flex-end;
	min-height: 100vh;
	@supports (height: 100dvh) {
		min-height: 100dvh;
	}
	// @media (min-width: $md3) {
	// 	min-height: 46.25rem;
	// }
	// .promo__container
	&__container {
	}
	// .promo__slider
	&__slider {
	}
	// .promo__slide
	&__slide {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		height: auto;
		padding: $header 0 3.75rem;
	}
	// .promo__title
	&__title {
	}
	// .promo__subtitle
	&__subtitle {
		margin-top: 1.88rem;
		line-height: 160%;
		max-width: 52.9375rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .promo__btn
	&__btn {
		margin-top: 2.5rem;
	}
	// .promo__pagination
	&__pagination {
		&.swiper-pagination {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			z-index: 2;
			padding: 1.06rem;
			display: flex;
			column-gap: 0.25rem;
			& .swiper-pagination-bullet {
				background: #767676;
				margin: 0;
				opacity: 1;
				flex: 1 1 auto;
				height: rem(3);
				border-radius: rem(5);

				max-width: rem(35);
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					border-radius: 0.3125rem;
					border: 0;
					transform: none;
					color: #fff;
					will-change: width;
					left: 0;
					width: 0;
					height: 100%;
					background: #fff;
				}
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 100%;
					height: rem(24);
					z-index: -1;
				}
				&.swiper-pagination-bullet-active {
					&::before {
						animation: countingBar var(--counting-speed, 8.8s) linear 0s forwards;
					}
				}
				@keyframes countingBar {
					0% {
						width: 0;
					}
					100% {
						width: 100%;
					}
				}
			}
		}
	}
}

.brands {
	padding: rem(50) 0;
	@media (min-width: $md3) {
		padding: rem(70) 0;
	}
	// .brands__container
	&__container {
		display: flex;
		flex-direction: column;
	}
	// .brands__title
	&__title {
	}
	// .brands__header
	&__header {
		display: contents;
		@media (min-width: $md4) {
			margin-top: 2.5rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .brands__tabs
	&__tabs {
		margin-top: rem(30);
		@media (max-width: $md4) {
			.tabs__item {
				flex: 1 1 auto;
			}
		}
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .brands__more
	&__more {
		order: 1;
		margin-top: rem(40);
		align-self: center;
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .brands__tabs-contents
	&__tabs-contents {
		margin-top: 2.5rem;
	}
	// .brands__tabs-content
	&__tabs-content {
	}
	// .brands__list
	&__list {
		display: grid;
		border-top: rem(1) solid #eaeaee;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md5) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md4) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(5, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
	// .brands__item
	&__item {
		border-bottom: rem(1) solid #eaeaee;
		padding: 1.25rem 0;
		&.brands__item-more {
			display: none;
			&.visible {
				display: block;
			}
		}
	}
	// .brands__item-link
	&__item-link {
		display: flex;
		align-items: flex-start;
		gap: 0.31rem;
	}
	// .brands__all
	&__all {
		color: #82a6ca;
		font-size: 1rem;
		font-weight: 600;
		line-height: 155%;
		display: inline-flex;
		align-items: center;
		gap: 0.31rem;
		transition: color 0.3s ease 0s;
		&::before {
			font-size: 0.75rem;
			order: 1;
			transition: transform 0.3s ease 0s;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #82a6ca, $amount: 10);
			}
		}
	}
	// .brands__item-name
	&__item-name {
		font-size: 1rem;
		font-weight: 500;
		line-height: 155%;
	}
	// .brands__item-quantity
	&__item-quantity {
		color: rgba(43, 50, 57, 0.4);
		font-family: $font-inter;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 155%;
	}
	// .brands__options
	&__options {
		margin-top: 2.5rem;
		display: grid;
		gap: 1.25rem;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md5) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md4) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
	// .brands__option
	&__option {
	}
	// .brands__option-card
	&__option-card {
		border-radius: 1.25rem;
		background: #f3f6fa;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1;
		text-align: center;
		gap: 0.974rem;
		padding: rem(14);
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #f3f6fa, $amount: 10);
			}
		}
	}
	// .brands__option-image
	&__option-image {
		margin: auto 0;
	}
	// .brands__option-text
	&__option-text {
		color: #292929;
		font-weight: 500;
		line-height: 155%;

		font-size: 0.8125rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
}

.selections {
	padding: rem(50) 0;
	@media (min-width: $md3) {
		padding: rem(70) 0;
	}
	// .selections__container
	&__container {
		display: flex;
		flex-direction: column;
	}
	// .selections__hint
	&__hint {
		color: rgba(43, 50, 57, 0.4);
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 130%;
		& + .selections__header {
			margin-top: 0;
		}
	}
	// .selections__title
	&__title {
		margin-top: 0.5rem;
	}
	// .selections__header
	&__header {
		display: contents;
		@media (min-width: $md4) {
			margin-top: rem(40);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .selections__main
	&__main {
		flex: 1 1 auto;
		align-self: flex-start;
	}
	// .selections__column
	&__column {
		margin-top: 1.88rem;
		@media (min-width: $md4) {
			gap: 2.5rem;
			flex: 0 0 50%;
			margin-top: 0;
		}
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.selections__more {
			align-self: flex-start;
		}
	}
	// .selections__desc
	&__desc {
		font-size: 1rem;
		font-weight: 500;
		line-height: 155%;
	}
	// .selections__tabs
	&__tabs {
		margin-top: rem(30);
		@media (min-width: $md4) {
			margin: 0;
		}
	}
	// .selections__more
	&__more {
		order: 1;
		align-self: center;
		margin-top: rem(40);
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .selections__slider
	&__slider {
		margin-top: 2.5rem;
		position: relative;
		& > .swiper {
			@media (max-width: $md4) {
				overflow: visible;
			}
		}
	}
	// .selections__prev
	&__prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: calc(100% + 1.25rem);
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .selections__next
	&__next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(100% + 1.25rem);
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .selections__pagination
	&__pagination {
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.reviews {
	padding: rem(50) 0;
	@media (min-width: $md3) {
		padding: rem(70) 0;
	}
	// .reviews__container
	&__container {
		display: flex;
		flex-direction: column;
	}
	// .reviews__header
	&__header {
		display: contents;
		@media (min-width: $md4) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .reviews__title
	&__title {
	}
	// .reviews__more
	&__more {
		order: 1;
		align-self: center;
		margin-top: rem(40);
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .reviews__list
	&__list {
		margin-top: 2.5rem;
		display: grid;
		gap: 1.25rem;
		row-gap: 3.75rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .reviews__card
	&__card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .reviews__card-label
	&__card-label {
		color: #2b3239;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 130%;
		padding: 0.44rem 0.63rem;
		border-radius: 0.625rem;
		background: #f3f6fa;
	}
	// .reviews__card-name
	&__card-name {
		margin-top: 0.81rem;
		font-size: 1.375rem;
		font-weight: 500;
		line-height: 130%;
	}
	// .reviews__card-quote
	&__card-quote {
		margin-top: 2.19rem;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		text-overflow: ellipsis;
		overflow: hidden;

		line-height: 155%;
		&.full {
			display: block;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 0.75rem;
				@media (min-width: $md4) {
					margin-bottom: 1rem;
				}
			}
		}
	}
	// .reviews__card-btn
	&__card-btn {
		margin-top: 2.19rem;
		display: flex;
		align-items: center;
		gap: 0.31rem;
		color: #65717f;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 140%;
		&::before {
			order: 1;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}

	// .reviews__items
	&__items {
		margin-top: rem(40);
	}
	// .reviews__item
	&__item {
		border-radius: 0.625rem;
		background: #f3f6fa;
		display: flex;
		flex-direction: column;
		gap: 1.88rem;
		padding: 1.25rem;
		@media (min-width: $md4) {
			padding: 1.875rem;
			gap: 2.5rem;
			flex-direction: row;
			align-items: flex-start;
		}
		&:not(:last-child) {
			margin-bottom: 1.88rem;
			@media (min-width: $md5) {
				margin-bottom: 1.25rem;
			}
		}
	}
	// .reviews__item-image
	&__item-image {
		@media (min-width: $md4) {
			flex: 0 0 44%;
		}
		& img {
			width: 100%;
			border-radius: 0.625rem;
			min-height: 12.5rem;
		}
	}
	// .reviews__item-body
	&__item-body {
		max-width: 36.5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.reviews__card-quote {
			margin-top: 1.25rem;
			-webkit-line-clamp: 3;
			@media (min-width: $md4) {
				margin-top: 2.19rem;
			}
		}
		.reviews__card-btn {
			margin-top: 1.25rem;
			@media (min-width: $md4) {
				margin-top: 2.19rem;
			}
		}
		.reviews__card-label {
			background: #dde7f3;
		}
	}
}

.benefits {
	padding: rem(50) 0;
	@media (min-width: $md3) {
		padding: rem(70) 0;
	}
	// .benefits__header
	&__header {
		display: grid;
		gap: rem(30);
		margin-bottom: 3.13rem;
		@media (min-width: $md4) {
			gap: 1.25rem;
			margin-bottom: 3.5rem;
			align-items: end;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .benefits__header-column
	&__header-column {
		max-width: 25.9375rem;
	}
	// .benefits__header-text
	&__header-text {
		line-height: 155%;
		font-size: 1rem;
		@media (min-width: $md3) {
			font-size: 1.125rem;
		}
	}
	// .benefits__hint
	&__hint {
		color: rgba(43, 50, 57, 0.5);
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 130%;
		margin-bottom: 1.25rem;
	}
	// .benefits__title
	&__title {
	}
	// .benefits__container
	&__container {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__cards
	&__cards {
		margin-top: 2.5rem;
		display: grid;
		gap: 1.25rem;
		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .benefits__card
	&__card {
		border-radius: 0.625rem;
		background: #f3f6fa;

		display: flex;
		gap: 1.25rem;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;

		flex-direction: row;
		padding: 1.56rem;
		@media (min-width: $md5) {
			padding: 1.88rem;
		}
		@media (min-width: $md2) {
			flex-direction: column;
			min-height: rem(520);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #363c44;
				color: #fff;
				.benefits__card-icon {
					background: #414852;
				}
			}
		}
		&.benefits__card-sm {
			@media (any-hover: hover) {
				&:hover {
					.benefits__card-icon {
						color: #fff;
					}
				}
			}
			padding: 1.88rem;
			flex-direction: column;
			gap: rem(25);
			@media (min-width: $md2) {
				gap: 1.25rem;
				min-height: 0;
			}
			.benefits__card-icon {
				width: rem(45);
				height: rem(45);
				@media (min-width: $md4) {
					width: 3.75rem;
					height: 3.75rem;
				}
				color: #81a6ca;
				margin: 0;
			}
			.benefits__card-title {
				margin-top: 0;
				font-size: 1.25rem;
				line-height: 130%;
				@media (min-width: $md2) {
					max-width: 9.3125rem;
				}
			}
			.benefits__card-desc {
				margin-top: 0;
				line-height: 155%;
				font-size: 1rem;
			}
		}
	}
	&__card-header {
		display: flex;
		align-items: center;
		gap: rem(15);
		@media (min-width: $md5) {
			gap: 1.25rem;
		}
		@media (min-width: $md2) {
			align-items: flex-start;
			flex-direction: column;
		}
	}
	// .benefits__card-main
	&__card-main {
		@media (min-width: $md2) {
			margin-bottom: auto;
		}
	}
	// .benefits__card-title
	&__card-title {
		font-weight: 500;
		line-height: 120%;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.75rem;
		}
	}
	// .benefits__card-desc
	&__card-desc {
		line-height: 150%;
		font-size: 0.875rem;
		margin-top: 0.94rem;
		@media (min-width: $md2) {
			margin-top: 1.25rem;
			font-size: 1rem;
		}
	}
	// .benefits__card-icon
	&__card-icon {
		border-radius: 0.625rem;
		background: #dde7f3;
		display: flex;
		justify-content: center;
		align-items: center;

		flex-shrink: 0;
		transition: background-color 0.3s ease 0s;
		order: -1;
		width: 3.125rem;
		height: 3.125rem;
		& svg {
			max-width: 1.875rem;
		}
		@media (min-width: $md4) {
			width: 6.25rem;
			height: 6.25rem;
			& svg {
				max-width: rem(60);
			}
		}
		@media (min-width: $md2) {
			margin-left: auto;
			margin-top: auto;
			order: 0;
		}
	}
}
