@font-face {
                            font-family: 'icons';
                            font-display: swap;
                            src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'InterTight';
                            font-display: swap;
                            src: url("../fonts/InterTight-Medium.woff") format("woff"), url("../fonts/InterTight-Medium.woff2") format("woff2");
                            font-weight: 500;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'InterTight';
                            font-display: swap;
                            src: url("../fonts/InterTight-Regular.woff") format("woff"), url("../fonts/InterTight-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'InterTight';
                            font-display: swap;
                            src: url("../fonts/InterTight-SemiBold.woff") format("woff"), url("../fonts/InterTight-SemiBold.woff2") format("woff2");
                            font-weight: 600;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'VelaSans';
                            font-display: swap;
                            src: url("../fonts/VelaSans-Medium.woff") format("woff"), url("../fonts/VelaSans-Medium.woff2") format("woff2");
                            font-weight: 500;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'VelaSans';
                            font-display: swap;
                            src: url("../fonts/VelaSans-Regular.woff") format("woff"), url("../fonts/VelaSans-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'VelaSans';
                            font-display: swap;
                            src: url("../fonts/VelaSans-SemiBold.woff") format("woff"), url("../fonts/VelaSans-SemiBold.woff2") format("woff2");
                            font-weight: 600;
                            font-style: normal;
                        }
