.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&:not(.header-transparent, .header-transparent-mobile) {
		.header__wrapper {
			background: #fff;
			color: $text;
			box-shadow: 0px 6px 15px 0px rgba(43, 50, 57, 0.05);
			.header__logo-text {
				display: none;
			}
			.header__logo-scroll {
				display: block;
			}
			.header__logo-static {
				display: none;
			}
			@media (min-width: $md3) {
				.header__catalog,
				.header__btn {
					background: #f3f6fa;
					border-color: #f3f6fa;
					@media (any-hover: hover) {
						&:hover {
							background: #c5d1e0;
							border-color: #c5d1e0;
							color: $text;
						}
					}
				}
			}
		}
		& + .page {
			padding-top: $header;
		}
	}
	&.header-transparent-mobile {
		@media (min-width: $md4) {
			.header__wrapper {
				background: #fff;
				color: $text;
				box-shadow: 0px 6px 15px 0px rgba(43, 50, 57, 0.05);
				.header__logo-text {
					display: none;
				}
				.header__logo-scroll {
					display: block;
				}
				.header__logo-static {
					display: none;
				}
				@media (min-width: $md3) {
					.header__catalog,
					.header__btn {
						background: #f3f6fa;
						border-color: #f3f6fa;
						@media (any-hover: hover) {
							&:hover {
								background: #c5d1e0;
								border-color: #c5d1e0;
								color: $text;
							}
						}
					}
				}
			}
			& + .page {
				padding-top: $header;
			}
		}
	}
	// .header__wrapper
	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		color: #fff;
		padding-right: var(--fancybox-scrollbar-compensate);
		padding-block: rem(15);
		.header-transparent & {
			padding-block: rem(13);
		}
		.header-transparent-mobile & {
			@media (max-width: $md4) {
				padding-block: rem(13);
			}
		}
		@media (min-width: $md3) {
			padding-block: rem(15);
			.header-transparent & {
				padding-block: 1.25rem;
			}
		}
		transition: background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease;
		.scroll & {
			background: #fff;
			color: $text;
			box-shadow: 0 rem(6) rem(15) 0 rgba(43, 50, 57, 0.05);
			.header__logo-text {
				display: none;
			}
			.header__logo-scroll {
				display: block;
			}
			.header__logo-static {
				display: none;
			}
			@media (min-width: $md3) {
				.header__catalog,
				.header__btn {
					background: #f3f6fa;
					border-color: #f3f6fa;
					@media (any-hover: hover) {
						&:hover {
							background: #c5d1e0;
							border-color: #c5d1e0;
							color: $text;
						}
					}
				}
			}
		}
		// @media (any-hover: hover) {
		// 	&:hover {
		// 		background: #fff;
		// 		color: $text;
		// 		box-shadow: 0 rem(6) rem(15) 0 rgba(43, 50, 57, 0.05);
		// 		.header__logo-text {
		// 			display: none;
		// 		}
		// 		.header__logo-scroll {
		// 			display: block;
		// 		}
		// 		.header__logo-static {
		// 			display: none;
		// 		}
		// 	}
		// }
	}
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(15);
		@media (min-width: $md3) {
			gap: rem(30);
		}
	}
	// .header__menu
	&__menu {
		@media (max-width: $md3) {
			position: fixed;
			background: #fff;
			color: $text;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 10;
			opacity: 0;
			visibility: hidden;
			display: flex;
			gap: rem(12);
			flex-direction: column;
			overflow-y: auto;
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
			transform: translateX(100%);
			padding: rem(120) calc((100vw - rem(684)) / 2) rem(25);
			.header.open-menu & {
				transform: none;
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: $md4) {
			padding: rem(87) calc((100vw - rem(540)) / 2) rem(25);
		}
		@media (max-width: $md5) {
			padding: rem(87) rem(20) rem(25);
		}
		@media (min-width: $md3) {
			display: contents;
		}
	}
	// .header__menu-left
	&__menu-left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(12);
		@media (min-width: $md3) {
			order: -1;
			gap: rem(30);
			align-items: center;
			flex-direction: row;
		}
	}
	// .header__catalog
	&__catalog {
		@media (max-width: $md3) {
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 135%;
			&::before {
				display: none;
			}
		}
		@media (min-width: $md3) {
			border-radius: 0.3125rem;
			border: rem(1) solid;
			display: flex;
			align-items: center;
			font-size: 0.875rem;
			font-weight: 500;
			line-height: 135%;
			gap: 0.62rem;
			padding: 0.94rem;
			transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
			&::before {
				font-size: 1.25rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				border-color: #fff;
				color: $text;
			}
		}
	}
	// .header__menu-right
	&__menu-right {
		order: 1;
		display: flex;
		gap: rem(30);
		flex-direction: column;
		align-items: flex-start;
		flex: 1 1 auto;
		@media (min-width: $md3) {
			gap: rem(15);
			flex: 0 1 auto;
			align-items: center;
			justify-content: flex-end;
			flex-direction: row;
		}
	}
	// .header__btn
	&__btn {
		@media (max-width: $md3) {
			border-radius: 0;
			padding: 0;
			font-size: rem(13);
		}
		@media (max-width: $md5) {
			& span {
				display: none;
			}
		}
		@media (min-width: $md3) {
			padding: 0.85rem;
			border-radius: 0.3125rem;
			gap: 0.38rem;
		}
		&.btn {
			@media (min-width: $md3) {
				color: currentColor;
				border: rem(1) solid currentColor;
				background: transparent;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				border-color: #fff;
				color: $text;
			}
		}
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: rem(22);
			height: rem(22);
			width: rem(22);
			@media (min-width: $md3) {
				font-size: 1.325rem;
				height: rem(20);
				width: rem(20);
			}
		}
		&.icon-user-circle {
			position: relative;
			&::before {
				font-size: 1.5rem;
				@media (min-width: $md3) {
					font-size: 1.75rem;
				}
				color: #676d73;
			}
		}
	}
	// .header__btn-notification
	&__btn-notification {
		width: 0.5rem;
		height: 0.5rem;
		bottom: 0;
		right: 0;
		@media (min-width: $md3) {
			bottom: 0.65rem;
			right: 0.65rem;
		}
		border-radius: 50%;
		display: block !important;
		background: #2d87ff;
		position: absolute;
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 11;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		& img {
			max-width: rem(68);
			.header-transparent & {
				max-width: 4.9375rem;
			}
			.header-transparent-mobile & {
				@media (max-width: $md4) {
					max-width: 4.9375rem;
				}
				.header__logo-static {
					@media (min-width: $md4) {
						display: none;
					}
				}
				.header__logo-scroll {
					@media (max-width: $md4) {
						display: none;
					}
				}
			}
			@media (min-width: $md4) {
				max-width: rem(90);
				.header-transparent & {
					max-width: 8.5625rem;
				}
			}
		}

		@media (min-width: $md4) {
			width: 10rem;
			align-items: center;
			text-align: center;
		}
		@media (min-width: $md3) {
			margin: 0.75rem auto 0;
		}
	}
	// .header__logo-static
	&__logo-static {
		.header.open-menu & {
			display: none;
		}
	}
	// .header__logo-scroll
	&__logo-scroll {
		display: none;
		.header.open-menu & {
			display: block;
		}
	}
	// .header__logo-text
	&__logo-text {
		position: absolute;
		font-weight: 500;
		width: 8.5rem;
		line-height: 125%;
		font-size: 0.625rem;
		top: calc(100% + 0.38rem);
		@media (min-width: $md4) {
			top: calc(100% + 0.5rem);
			width: 100%;
			font-size: 0.75rem;
		}
		.header.open-menu & {
			display: none;
		}
	}
	// .header__contacts
	&__contacts {
		@media (min-width: $md3) {
			display: none;
		}
		margin-top: 0.875rem;
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		width: 100%;
	}
	// .header__contacts-block
	&__contacts-block {
		&.mobile-only {
			@media (min-width: $md3) {
				display: none;
			}
		}
	}
	// .header__contacts-caption
	&__contacts-caption {
		color: rgba(43, 50, 57, 0.3);
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 140%;
		margin-bottom: 0.75rem;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .header__contacts-body
	&__contacts-body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .header__contacts-link
	&__contacts-link {
		color: #2b3239;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 140%;
	}
	// .header__socials
	&__socials {
		display: flex;
		gap: 0.63rem;
		font-size: 1.625rem;
		color: #575b60;
	}
	// .header__social
	&__social {
	}
	// .header__copy
	&__copy {
		margin-top: auto;
		color: rgba(43, 50, 57, 0.3);
		font-size: 0.75rem;
		line-height: 140%;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .header__person
	&__person {
		position: relative;
		z-index: 11;
		order: 1;
		display: flex;
		align-items: center;
		@media (any-hover: hover) {
			&:hover {
				.header__person-list {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .header__person-list
	&__person-list {
		position: absolute;
		top: 100%;
		right: -2rem;
		@media (min-width: $md3) {
			right: 0;
		}
		background: #fff;
		width: 13.8125rem;
		padding: 0.3125rem;
		border-radius: 0.625rem;
		box-shadow: 0px 6px 15px 0px rgba(43, 50, 57, 0.15);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease, visibility 0.15s ease;
		@media (hover: none) {
			&.visible {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .header__person-item
	&__person-item {
		&:not(:last-child) {
			margin-bottom: 0.31rem;
		}
	}
	// .header__person-link
	&__person-link {
		display: flex;
		align-items: center;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 155%;
		border-radius: 0.3125rem;
		padding: 0.62rem;
		gap: 0.62rem;
		&::before {
			width: 1rem;
			height: 1rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #99a2b3;
		}
		transition: background-color 0.15s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #e3eaf4;
			}
		}
	}
	// .header__person-quantity
	&__person-quantity {
		color: #fff;
		font-size: 0.625rem;
		font-weight: 600;
		line-height: 155%;
		border-radius: 6.25rem;
		background: #2d87ff;
		flex-shrink: 0;
		padding: 0 0.5rem;
	}
	// .header__phone
	&__phone {
		font-size: rem(20);
		height: rem(22);
		width: rem(22);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		gap: 0.44rem;
		z-index: 11;
		&::before {
			order: 1;
		}
		@media (min-width: $md5) {
			width: auto;
		}
		& span {
			display: none;
			font-size: rem(13);
			@media (min-width: $md5) {
				display: inline;
			}
		}
		@media (min-width: $md3) {
			display: none;
		}
	}
}

.menu {
	// .menu__list
	&__list {
		display: flex;
		gap: rem(12);
		flex-direction: column;
		@media (min-width: $md3) {
			gap: rem(30);
			flex-direction: row;
		}
	}
	// .menu__item
	&__item {
		position: relative;

		&.menu-parent {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 0.5rem;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
					& .submenu {
						@media (min-width: $md3) {
							opacity: 1;
							visibility: visible;
							transform: translate3d(0, 0, 0);
						}
					}

					& .menu__arrow {
						&::before {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
	// .menu__arrow
	&__arrow {
		order: 1;
		display: flex;
		align-items: center;
		color: currentColor;

		&::before {
			order: 1;
			transition: transform 0.3s ease 0s;
			font-size: 0.5rem;
		}
		&.active {
			@media (hover: none) {
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}
	// .menu__link
	&__link {
		display: flex;
		align-items: center;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 135%;
		&::before {
			order: 1;
			width: 1.125rem;
			height: 1.125rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.5rem;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .menu__btn
	&__btn {
		order: 1;
		display: flex;
		align-items: center;
		gap: 0.44rem;
		font-size: 0.8125rem;
		position: relative;
		z-index: 11;
		&::before {
			font-size: 1.125rem;
			order: 1;
		}
		@media (min-width: $md3) {
			display: none;
		}
		.header.open-menu & {
			color: $text;
			&::before {
				@extend %ic, .icon-close;
				font-size: 0.75rem;
			}
		}
	}
	&__btn-active {
		display: none;
		.header.open-menu & {
			display: inline;
		}
	}
	&__btn-default {
		.header.open-menu & {
			display: none;
		}
	}
}

.submenu {
	@media (max-width: $md3) {
		flex: 0 0 100%;
		order: 1;

		display: none;
		&.open {
			display: block;
		}
	}
	@media (min-width: $md3) {
		padding-top: 1rem;
		top: 100%;
		left: 0;
		position: absolute;
		min-width: fit-content;
		color: $text;
		z-index: 11;
		min-width: rem(174);
		width: 100%;
		transform-origin: center top;
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		will-change: transform;
		transform: translate3d(0, rem(-7), 0);
		@media (hover: none) {
			&.open {
				opacity: 1;
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
		}
	}

	// .submenu__list
	&__list {
		position: relative;
		display: flex;
		flex-direction: column;
		color: $text;
		padding: rem(5) em(0) rem(10) 1.25rem;
		font-size: rem(13);
		font-weight: 500;
		line-height: 135%;
		gap: 0.75rem;
		@media (min-width: $md3) {
			border-radius: 0.625rem;
			padding: 0.31rem;
			gap: 0.31rem;
			background: #fff;
			overflow: hidden;
			font-size: 0.875rem;
			font-weight: 500;
			box-shadow: 0px 6px 15px 0px rgba(43, 50, 57, 0.05);
			line-height: 140%;
		}
	}
	// .submenu__list
	&__item {
	}
	// .submenu__link
	&__link {
		display: inline-block;
		transition: color 0.3s ease 0s;
		width: 100%;
		padding: 0.625rem;
		@media (any-hover: hover) {
			&:hover {
				border-radius: 0.3125rem;
				background: #e3eaf4;
			}
		}
	}
}
