%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-search:before {
	content: "\e91d";
}
.icon-copy:before {
	content: "\e914";
}
.icon-share:before {
	content: "\e915";
}
.icon-docs:before {
	content: "\e916";
}
.icon-delivery:before {
	content: "\e917";
}
.icon-user:before {
	content: "\e918";
}
.icon-user-circle:before {
	content: "\e919";
}
.icon-envelope-open:before {
	content: "\e91a";
}
.icon-user-fill:before {
	content: "\e91b";
}
.icon-phone-fill:before {
	content: "\e91c";
}
.icon-attachment:before {
	content: "\e912";
}
.icon-close-circle:before {
	content: "\e911";
}
.icon-phone:before {
	content: "\e910";
}
.icon-check-circle:before {
	content: "\e913";
}
.icon-rows:before {
	content: "\e90c";
}
.icon-grid:before {
	content: "\e90d";
}
.icon-arrows:before {
	content: "\e90e";
}
.icon-filter:before {
	content: "\e90f";
}
.icon-heart-fill:before {
	content: "\e90b";
}
.icon-heart:before {
	content: "\e90a";
}
.icon-login:before {
	content: "\e909";
}
.icon-close:before {
	content: "\e908";
}
.icon-arrow:before {
	content: "\e900";
}
.icon-catalog:before {
	content: "\e901";
}
.icon-check:before {
	content: "\e902";
}
.icon-chevron:before {
	content: "\e903";
}
.icon-chevron-circle:before {
	content: "\e904";
}
.icon-telegram:before {
	content: "\e905";
}
.icon-vk:before {
	content: "\e906";
}
.icon-wa:before {
	content: "\e907";
}
